.container{
    width:200px;
    height: 200px;
    color:red;
    background-color: red;
    border: 2px solid black;
    /* transition-property: width,height, background-color, border-radius;
    transition-duration: 1s,1s,1s,1s; */
    /* transition:  width,height, background-color, border-radius 1s,1s,1s,1s; */
    /* transition: all 1s; */
    /* transition-delay: 1ms; */
    /* transition-timing-function: ease; */
    /* transition-timing-function:steps(5); */
    /* transition-timing-function:cubic-bezier(1, 0.82, 0.165, 1); */
    transition:all 1s linear 1s;
   

}
.container:active{
    width:300px;
    background-color:greenyellow ;
    border-radius: 50%;
    height:300px;
}